# General
.DS_Store
Thumbs.db

# Project
composer.phar
composer.lock
vendor
build
storage/debugbar
doc/generated/*
generatedoc.sh
build/*

# Editors
.vscode
.sublime-workspace
.idea
.idea/*
.idea/workspace.xml
*.iml
_ide_helper.php
.phpunit.result.cache
