name: Lint and analyse files

on: [push]

jobs:
    lint-php:
        name: Lint file
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use php 7.1
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.1
            - name: Validate composer.json and composer.lock
              run: composer validate
            - name: Cache module
              uses: actions/cache@v2
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install --no-interaction
            - name: Lint files
              run: composer run phpcs

    analyse-php:
        name: Analyse files
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use php 7.1
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.1
            - name: Cache module
              uses: actions/cache@v2
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install --no-interaction
            - name: Analyse files
              run: composer run phpstan
